{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
<h3>Amount of Cash to Add</h3>
<form action="/cash" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Cash" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Add to Account</button>
</form>
<!-- CREATE A DATALIST WITH POSSIBLE STOCKS-->
<!-- + button to select more stocks? -->

{% endblock %}

