{% extends "layout.html" %}

{% block title %}
    Quote Stocks
{% endblock %}

{% block main %}
<h3>Choose a Stock to Search:</h3>
<form action="/quote" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol (name)" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Search!</button>
</form>
<!-- CREATE A DATALIST WITH POSSIBLE STOCKS-->
<!-- + button to select more stocks? -->

{% endblock %}

